@import "utilities/utilities"
@import "base/generic"

html
  font-family: $family-sans-serif
  color: $grey

.appknox-logo
  margin-top: 100px
  text-align: center

.main-heading
  margin-top: 150px
  text-align: center
  font-size: 36px
  font-weight: 300
  text-decoration: underline

.sub-heading
  font-style: italic
  font-size: 16px
  text-align: center
  margin-top: 30px
  font-weight: 300

.app-name
  font-size: 18px
  text-align: center
  margin-top: 70px
  font-weight: 300
  font-weight: bold

.doc-description
  p
    margin-top: 50px
  p:first-child
    margin-top: 150px

.heading-container
  border: 1px solid $red
  border-radius: 5px
  color: $red
  padding: 2px
  margin: 40px auto
  min-width: 30%
  width: 50%
  max-width: 70%
  text-align: center
  font-weight: 200!important
  font-size: 28px

.vulnerability-heading
  @extend .heading-container
  width: 100%
  max-width: 100%

.content-table
  margin: auto
  width: 80%
  border: 1px solid #000
  border-collapse: collapse
  counter-reset: rowNumber

.content-table tr td
  border-bottom: 1px solid #000
  padding: 5px

.content-table a
  text-decoration: none
  color: rgb(107, 107, 107)
  font-size: 16px!important

.main-table-heading
  a
    margin-left: 10px
    font-weight: bolder

.sub-table-heading
  td:first-child::before
    content: "-"
    margin-left: 30px
  a
    margin-left: 10px
    font-weight: normal

.app-details
  @extend  .content-table
  width: 100%


.app-details tr td, .audit-table tr td
  border-bottom: 1px solid #000
  border-right: 1px solid #000
  padding-left: 10px
  padding: 15px

.sub-heading-container
  padding: 5px
  border: 1px solid $red
  border-radius: 5px
  color: $red
  width: 40%
  text-align: center
  font-weight: 200!important
  font-size: 18px
  margin-top: 30px
  margin-bottom: 30px

.audit-table
  @extend  .content-table
  width: 100%
  text-align: center
  p
    font-size: 12px

.risk-type
  width: 90px
  border-radius: 20px
  font-size: 12px
  text-align: center
  padding: 5px

.risk-type-container
  padding-right: 10px
  vertical-align: middle
  width: 100px

.sub-table
  margin-top: 50px

.risk-tag
  padding: 7px
  font-size: 16px
  width: 200px
  text-align: center
  border-radius: 20px
  margin-top: 20px
  margin-bottom: 20px

.analysis-type
  border-left: 2px solid #C0C0C0
  border-top: 2px solid #C0C0C0
  width: 40%
  margin-top: 20px
  margin-bottom: 20px

.analysis-type h5
  font-weight: 800
  margin-left: 10px
  margin-top: 0px
  padding-top: 5px
