.column
  flex-basis: 0
  flex-grow: 1
  flex-shrink: 1
  padding: 10px

  +smallscreen
    &.is-full,
      flex: none
      width: 100%
    &.is-half,
      flex: none
      width: 50%
    &.is-one-third,
      flex: none
      width: 33.3333%
    &.is-one-quarter,
      flex: none
      width: 25%
    &.is-one-fifth,
      flex: none
      width: 20%

  +widescreen
    &.is-full-widescreen
      flex: none
      width: 100%
    &.is-half-widescreen
      flex: none
      width: 50%
    &.is-one-third-widescreen
      flex: none
      width: 33.3333%
    &.is-one-quarter-widescreen
      flex: none
      width: 25%
      margin-left: 25%
    &.is-one-fifth-widescreen
      flex: none
      width: 20%


.columns
  margin-left: -10px
  margin-right: -10px
  margin-top: -10px
  display: flex
  &:last-child
    margin-bottom: -10px
  &:not(:last-child)
    margin-bottom: 10px
  // Modifiers
  &.is-multiline
    flex-wrap: wrap
  &.is-vcentered
    align-items: center
