.progress {
  width: 100%;
  height: 20px;
}

.progress-text {
  text-align: center;
  position: relative;
  color: $black;
}

.progress-wrap {
  width: 10%;
  margin: 20px 0;
  overflow: hidden;
  position: relative;
  border-radius: 15px;

  .progress-bar {
    background: $default-lighter;
    position: absolute;
    top: 0;
  }
}
