// Float

.is-pulled-left {
  float: left;
}

.is-pulled-right {
  float: right;
}

// Overflow

.is-clipped {
  overflow: hidden !important;
}

// Overlay

.is-overlay {
  @include overlay;
}

// Text

.has-text-centered {
  text-align: center;
}

.has-text-left {
  text-align: left;
}

.has-text-right {
  text-align: right;
}

// Other

.is-disabled {
  pointer-events: none;
}

.is-marginless {
  margin: 0 !important;
}

.is-progress {
  transition: width 0.6s ease;
  background-image: linear-gradient(-45deg, $primary-light 25%, transparent 25%, transparent 50%, $primary-light 50%, $primary-light 75%, transparent 75%, transparent);
  background-size: $progress-width $progress-width;
  animation: progress 0.5s linear infinite;
}

.is-fullwidth {
  width: 100%;
}
