@keyframes spin-around {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

@keyframes progress {
  0% {
    background-position: 0px 0px;
  }

  100% {
    background-position: $progress-width 0px;
  }
}
