$dimensions: 32 128;

.image {
  display: block;
  position: relative;

  img {
    display: block;
    height: auto;
    width: 100%;
  }

  // Ratio
  &.is-square,
  &.is-1by1 {
    padding-top: 100%;

    img {
      @include overlay;

      height: 100%;
      width: 100%;
    }
  }

  @each $dimension in $dimensions {
    &.is-#{$dimension}x#{$dimension} {
      height: $dimension * 1px;
      width: $dimension * 1px;
    }
  }
}
